.footer {
  color: #fff;
  height: 100px;
  padding: 25px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer .footer__menus {
  display: flex;
  align-items: center;
}

.footer .footer__menus a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer .footer__menus a > span {
  margin: 0 5px;
}
